.header4{
   background-image: url(./crescemos.jpg);
   background-size: auto;
   height: 240px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header4{
    text-align: center;
    color: black;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}