.header3{
    background-image: url(./onde-estamos.jpg);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 20%);
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header3 h1{
    color: #ffffff;
}