.header3{
    background-image: url(./onde-estamos.jpg);
    background-size: auto;
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .header3{
     text-align: center;
     color: white;
     font-size: xx-large;
     font-family: 'Roboto', sans-serif;
 }