@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.nomes {
    font-family: "Roboto";
    text-align: center;
}

.back{
    background-image: url(./hands-cupping-recycle-save-the-environment-campaign.jpg);
    position: relative;
    width: auto;
    height: auto;
}