.header1{
    background: url(./capa-projeto.jpg);
    background-size: auto;
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header1{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

@media (max-device-width: 900px) {
    .header1 { width:100%; } 
    }