.texto_projeto4{
    height: 70%;
    width: 57%;
    align-items: center;
    justify-content: center;
    margin-left: 22%;
    margin-top: 60px;
}

@media (max-device-width: 900px) {
    .texto_projeto4 { 
        width:100%; 
        margin-left: 200px;
        height: 100%;
    } 
}