.footer1 {
    position: relative;
    bottom: 0;
    background-color: #2b2b2b;
    color: #FFF;
    width: 100%;
    height: 800px;    
    text-align: center;
    line-height: 60px;
    flex-shrink: 0;
}

a {
    color: rgb(197, 16, 143);
    position: relative;
}

.oqfazemos{
    margin-right: 20px;
}

.comofazemos{
    margin-right: 20px;
}

.crescemos{
    margin-right: 20px;
}

.ondeestamos{
    margin-right: 20px;
}

.dicas{
    margin-right: 20px;
}

.teste{

}

.testado{

}
