.header2{
    background-image: url(./oquefazemos.jpg);
    background-size: auto;
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}
