.header2{
    background-image: url(./oquefazemos.jpg);
    height: 240px;
    width: 100% ;
}

.header2{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}
