.header3{
    background-image: url(./img/comofazemos.jpg);
    height: 240px;
    width: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header3 h1{
    color: #ffffff;
}