.header10{
    background-image: url(./teste.png);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 20%);
    height: 240px;
    width: 100% ;
}

.header10 h1{
    color: #ffffff;
}