.header3{
    background-image: url(./teste.png);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 20%);
    height: 240px;
    width: 1530px ;
}

.header3 h1{
    color: #ffffff;
}